body{

margin:0;
padding:0;
font-family:Arial, sans-serif;
background:#0b1220;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}


.container{

background:white;
padding:30px;

width:420px;

border-radius:15px;

text-align:center;

box-shadow:0 0 20px rgba(0,0,0,0.3);

}


h1{

color:#0078ff;

}


input{

width:90%;

padding:12px;

margin-top:15px;

border:1px solid #ccc;

border-radius:5px;

}


button{

margin-top:20px;

padding:12px 25px;

background:#0078ff;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

font-size:16px;

}


button:hover{

background:#005edc;

}


/* Result box */

.result{

margin-top:25px;

padding:15px;

border-radius:10px;

}


/* Phishing red */

.phishing{

background:#ffe5e5;

color:#d00000;

border:2px solid red;

}


/* Safe green */

.safe{

background:#e5ffe5;

color:green;

border:2px solid green;

}


.risk{

font-size:22px;

font-weight:bold;

}


li{

text-align:left;

margin:8px;

}