<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Cyber Shield - AI Phishing Detector</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>

<div class="container">

<h1>🛡️ Cyber Shield</h1>

<p>AI Powered Phishing Link Detector</p>


<form method="POST">

<input 
type="text" 
name="url"
placeholder="Paste URL here"
required>

<br>

<button type="submit">
🔍 Check Link
</button>

</form>



{% if result %}

<div class="result 
{% if 'PHISHING' in result %}
phishing
{% elif 'SAFE' in result %}
safe
{% endif %}
">


<h2>{{ result }}</h2>


<div class="risk">
Risk Score: {{ risk }}%
</div>


<h3>🔎 Detection Reasons:</h3>

<ul>

{% for reason in reasons %}

<li>{{ reason }}</li>

{% endfor %}

</ul>


</div>

{% endif %}



</div>

</body>

</html>